# Domain
DOMAIN_NAME=ltcherep.42.fr

# MariaDB
MYSQL_DATABASE=mariadb
MYSQL_USER=CHANGE_ME
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
MYSQL_PASSWORD_FILE=/run/secrets/db_password

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=CHANGE_ME
WP_ADMIN_EMAIL=CHANGE_ME@mail
WP_USER=CHANGE_ME
WP_USER_EMAIL=CHANGE_ME@mail
